{% block testimonial %}
	<div style="background: {{elements.background_color}}; color: {{elements.text_color}};">
		<div>{{ elements.author }}</div>
		<div>{{ elements.testimonial|raw }}</div>
	</div>
{% endblock %}


